@model IEnumerable<NominaCRUD.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Pago</h1>

<p>
    <a asp-action="Create">Crear Pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalIngresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeducciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioNeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalIngresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDeducciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioNeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PagoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PagoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PagoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
