@model NominaCRUD.Models.IngresosEmpleado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Ingresos Empleados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoIngreso.NombreTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IngresoId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
