@model IEnumerable<NominaCRUD.Models.IngresosEmpleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Ingresos Empleado</h1>

<p>
    <a asp-action="Create">Crear Ingresos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoIngreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TipoIngreso.NombreTipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IngresoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IngresoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IngresoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
