@model IEnumerable<NominaCRUD.Models.DeduccionesEmpleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Deducciones Empleado</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeduccion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Deduccion.NombreDeduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeduccionEmpleadoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DeduccionEmpleadoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.DeduccionEmpleadoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
